.headerTitle{
  font-size: 20px;
}
.bgTree {
  display: flex;
  padding: 0 10px;
  align-items: center;
  gap: 5px;
  width: 365px;
  flex-wrap: wrap;
}
.bgTree div {
  cursor: pointer;
  width: 70px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid rgba(167, 136, 0, 0);
}
.bgTree div:hover {
  border: 2px solid #a78800;
}
.bgTree .activeBg {
  border: 2px solid #a78800;
}
