body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.App {
  height: 100%;
}

.hidden {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
  color: white;
  font-size: 24px;
  padding: 0 10px;
  font-weight: 400;
  text-transform: uppercase;
}
